#titulo_cuadro h3 {
  font-size: 1.1em;
  color: #ffffff;
  font-family: 'oswaldbold';
  text-transform: uppercase;
}

nav #cuadro_menu .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  background-color: #d53132;
}

nav #cuadro_menu .menu li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

nav #cuadro_menu .menu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 36px 20px 36px 20px;
  display: block;
}

nav #cuadro_menu .menu li a:hover {
  color: #333333;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  background-color: #ffffff;
}

@font-face {
  font-family: 'droid_sansbold';
  src: url("font/DroidSans-Bold-webfont.eot");
  src: url("font/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/DroidSans-Bold-webfont.woff") format("woff"), url("font/DroidSans-Bold-webfont.ttf") format("truetype"), url("font/DroidSans-Bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_sansregular';
  src: url("font/DroidSans-webfont.eot");
  src: url("font/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("font/DroidSans-webfont.woff") format("woff"), url("font/DroidSans-webfont.ttf") format("truetype"), url("font/DroidSans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldbold';
  src: url("font/oswald-bold-webfont.eot");
  src: url("font/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/oswald-bold-webfont.woff2") format("woff2"), url("font/oswald-bold-webfont.woff") format("woff"), url("font/oswald-bold-webfont.ttf") format("truetype"), url("font/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url("font/oswald-light-webfont.eot");
  src: url("font/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("font/oswald-light-webfont.woff2") format("woff2"), url("font/oswald-light-webfont.woff") format("woff"), url("font/oswald-light-webfont.ttf") format("truetype"), url("font/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldbook';
  src: url("font/oswald-regular-webfont.eot");
  src: url("font/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/oswald-regular-webfont.woff2") format("woff2"), url("font/oswald-regular-webfont.woff") format("woff"), url("font/oswald-regular-webfont.ttf") format("truetype"), url("font/oswald-regular-webfont.svg#oswaldbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald_stencilregular';
  src: url("font/oswald-stencil-webfont.eot");
  src: url("font/oswald-stencil-webfont.eot?#iefix") format("embedded-opentype"), url("font/oswald-stencil-webfont.woff2") format("woff2"), url("font/oswald-stencil-webfont.woff") format("woff"), url("font/oswald-stencil-webfont.ttf") format("truetype"), url("font/oswald-stencil-webfont.svg#oswald_stencilregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocento_sansbold';
  src: url("font/quattrocentosans-bold-webfont.eot");
  src: url("font/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/quattrocentosans-bold-webfont.woff2") format("woff2"), url("font/quattrocentosans-bold-webfont.woff") format("woff"), url("font/quattrocentosans-bold-webfont.ttf") format("truetype"), url("font/quattrocentosans-bold-webfont.svg#quattrocento_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocento_sansbold_italic';
  src: url("font/quattrocentosans-bolditalic-webfont.eot");
  src: url("font/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/quattrocentosans-bolditalic-webfont.woff2") format("woff2"), url("font/quattrocentosans-bolditalic-webfont.woff") format("woff"), url("font/quattrocentosans-bolditalic-webfont.ttf") format("truetype"), url("font/quattrocentosans-bolditalic-webfont.svg#quattrocento_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocento_sansitalic';
  src: url("font/quattrocentosans-italic-webfont.eot");
  src: url("font/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("font/quattrocentosans-italic-webfont.woff2") format("woff2"), url("font/quattrocentosans-italic-webfont.woff") format("woff"), url("font/quattrocentosans-italic-webfont.ttf") format("truetype"), url("font/quattrocentosans-italic-webfont.svg#quattrocento_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocento_sansregular';
  src: url("font/quattrocentosans-regular-webfont.eot");
  src: url("font/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/quattrocentosans-regular-webfont.woff2") format("woff2"), url("font/quattrocentosans-regular-webfont.woff") format("woff"), url("font/quattrocentosans-regular-webfont.ttf") format("truetype"), url("font/quattrocentosans-regular-webfont.svg#quattrocento_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Economica-Bold';
  src: url("font/Economica-Bold.eot");
  src: url("font/Economica-Bold.eot?#iefix") format("embedded-opentype"), url("font/Economica-Bold.woff") format("woff"), url("font/Economica-Bold.ttf") format("truetype"), url("font/Economica-Bold.svg#Economica-Bold") format("svg");
}

.fontpro, .fontpro-35724 {
  font-family: 'Economica-Bold',sans-serif;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?kz55wu");
  src: url("fonts/icons.eot?kz55wu#iefix") format("embedded-opentype"), url("fonts/icons.ttf?kz55wu") format("truetype"), url("fonts/icons.woff?kz55wu") format("woff"), url("fonts/icons.svg?kz55wu#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}

.icon-home3:before {
  content: "\e903";
}

.icon-pencil:before {
  content: "\e904";
}

.icon-pencil2:before {
  content: "\e905";
}

.icon-image:before {
  content: "\e906";
}

.icon-camera:before {
  content: "\e907";
}

.icon-music:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-phone:before {
  content: "\e90a";
}

.icon-envelop:before {
  content: "\e900";
}

.icon-location:before {
  content: "\e90b";
}

.icon-location2:before {
  content: "\e90c";
}

.icon-bubble:before {
  content: "\e90d";
}

.icon-quotes-left:before {
  content: "\e90e";
}

.icon-quotes-right:before {
  content: "\e90f";
}

.icon-hour-glass:before {
  content: "\e910";
}

.icon-spinner3:before {
  content: "\e911";
}

.icon-search:before {
  content: "\e912";
}

.icon-cogs:before {
  content: "\e913";
}

.icon-menu:before {
  content: "\e901";
}

.icon-paragraph-justify:before {
  content: "\e914";
}

.icon-share2:before {
  content: "\e915";
}

.searchbar form {
  padding: 7px;
  background: #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.searchbar form button {
  padding: 6px;
  border: none;
  margin: 0px 10px 0px 10px;
  color: #d53132;
  background: #f2f2f2;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.searchbar form button:hover {
  color: #333333;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.searchbar form button:focus {
  color: #333333;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.searchbar form input {
  color: #d53132;
  padding: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: #f2f2f2;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.searchbar form input:hover {
  background: #ffffff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d53132;
}

.searchbar form input:focus {
  background: #ffffff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d53132;
}

input[type=submit] {
  padding: 6px;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

input[type=submit]:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

input[type=submit]:focus {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
}

.zerogrid {
  max-width: 1024px;
  margin: 0px auto;
}

.space {
  width: 100%;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ffffff;
}

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0px 8px 0px;
}

#header #ls {
  width: 50%;
  display: flex;
}

#header #ls #logo img {
  width: 112px;
  height: 117px;
}

#header #ls #logo img:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  background-color: #ffffff;
}

#header #ls #slogan {
  margin-left: 10px;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  padding: 13px 0px 0px 0px;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  list-style: none;
  text-decoration: none;
  display: block;
}

#header #ls #slogan h1 {
  color: #333333;
  font-size: 2.8em;
}

#header #ls #slogan h1:hover {
  color: #009FFF;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#header #ls #slogan h2 {
  color: #d53132;
  font-size: 0.8em;
}

#header #ls #slogan h2:hover {
  color: #009FFF;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#header #sm {
  width: 50%;
  /*	background-color:#ffd933;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #sm #ubicacion {
  width: 30%;
}

#header #sm #ubicacion span {
  width: 95%;
  display: block;
}

#header #sm #ubicacion .icon-location2 {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 7px;
  color: #d53132;
}

#header #sm #ubicacion #texto {
  font-family: 'oswaldbold';
  text-transform: uppercase;
  color: #333333;
  margin: 0px auto;
  text-align: center;
}

#header #sm #search {
  width: 65%;
}

nav {
  width: 100%;
  background-color: #d53132;
}

#cuadro_menu {
  background-color: #f1f1f1;
}

section {
  width: 100%;
  background-image: url(../images/cross-pattern.png);
  background-repeat: repeat;
}

/*================================================*/
#banner {
  background-color: #ffffff;
  padding: 10px 0px 10px 0px;
}

#banner a:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#banner .soliloquy-prev:hover,
#banner .soliloquy-next:hover {
  background-color: #333333;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#banner .soliloquy-prev {
  background-color: #d53132;
}

#banner .soliloquy-next {
  background-color: #d53132;
}

#banner .soliloquy-pager-item {
  margin: 3px;
  background-color: #d53132;
}

#cuadro_iglesia {
  padding-top: 10px;
  padding-bottom: 12px;
}

#iglesia {
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
}

#iglesia #div1 {
  width: 22%;
  min-height: 150px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  background-color: #ffffff;
}

#iglesia #div1 a {
  color: #333333;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 0px 8px 0px;
  display: block;
}

#iglesia #div1 a span {
  margin-top: 4px;
  display: block;
}

#iglesia #div1 a:hover {
  color: #009FFF;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#iglesia #div1 a img {
  width: 100%;
}

#iglesia #div1 img:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
}

#cuadro_iglesia #titulo_iglesia {
  background-color: #46b271;
  padding: 20px 0px 17px 25px;
  box-sizing: border-box;
}

#cuadro_iglesia #titulo_iglesia h3 {
  font-size: 1.1em;
  color: #333333;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  text-align: center;
}

/*=======================================================*/
#cuadro_reflexiones {
  padding-top: 10px;
  padding-bottom: 12px;
}

#titulo_reflexiones {
  background-color: #46b271;
  box-sizing: border-box;
  display: flex;
  color: #f2f2f2;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  font-size: 0.8em;
  margin-bottom: 7px;
}

#titulo_reflexiones #name_cat {
  display: flex;
}

#titulo_reflexiones #date_cat {
  margin-right: 7px;
  font-size: 1.2em;
}

#titulo_reflexiones h3 span {
  margin-right: 3px;
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
}

#titulo_reflexiones h3 {
  margin-right: 7px;
  color: #f2f2f2;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

#titulo_reflexiones h3 ul {
  list-style: none;
}

#titulo_reflexiones a {
  color: #333333;
}

#titulo_reflexiones a:hover {
  color: #ffffff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

/*=====================================*/
#titulo_homilia {
  background-color: #009FFF;
  box-sizing: border-box;
  display: flex;
  color: #f2f2f2;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  font-size: 0.8em;
  margin-bottom: 7px;
}

#titulo_homilia #name_cat {
  display: flex;
}

#titulo_homilia #date_cat {
  margin-right: 7px;
  font-size: 1.2em;
}

#titulo_homilia h3 span {
  margin-right: 3px;
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
}

#titulo_homilia h3 {
  margin-right: 7px;
  color: #f2f2f2;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

#titulo_homilia h3 ul {
  list-style: none;
}

#titulo_homilia a {
  color: #f2f2f2;
}

#titulo_homilia a:hover {
  color: #333333;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

/*=====================================*/
#titulo_cuadro_reflexiones {
  background-color: #009FFF;
  padding: 24px 0px 17px 25px;
  box-sizing: border-box;
}

#titulo_cuadro_reflexiones h3 {
  font-size: 1.1em;
  color: #ffffff;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

#titulo_cuadro_crecimiento {
  background-color: #d53132;
  padding: 24px 0px 17px 25px;
  box-sizing: border-box;
}

#titulo_cuadro_crecimiento h3 {
  font-size: 1.1em;
  color: #ffffff;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

/*==============================================*/
#reflexiones {
  background-color: #f2f2f2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  margin: 0px auto;
}

#reflexiones .diario {
  width: 47%;
  background-color: #ffffff;
  min-height: 100px;
  padding: 10px;
  boder-bottom: 1px solid #333333;
  margin-bottom: 4px;
}

#reflexiones .diario .contenido h2 a,
#reflexiones .diario .contenido_homilia h2 a {
  color: #009FFF;
  line-height: 1.5em;
  font-size: 1em;
}

#reflexiones .diario .contenido h2 a:hover,
#reflexiones .diario .contenido_homilia h2 a:hover {
  color: #d53132;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#reflexiones .diario .contenido p,
#reflexiones .diario .contenido_homilia p {
  line-height: 1.5em;
  font-size: 1.2em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
}

#reflexiones .diario .contenido .thumb,
#reflexiones .diario .contenido_homilia .thumb {
  float: right;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 141px;
  height: 141px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  display: block;
  margin: 0px 0px 0px 7px;
  padding: 0px 0px 0px 0px;
  border: 2px solid #f2f2f2;
}

#reflexiones .diario .contenido .thumb:hover,
#reflexiones .diario .contenido_homilia .thumb:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#reflexiones .diario .contenido .thumb img,
#reflexiones .diario .contenido_homilia .thumb img {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 100%;
  height: 100%;
}

#reflexiones .diario .contenido .thumb img:hover,
#reflexiones .diario .contenido_homilia img:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
}

/*====================*/
#home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#home #crecimiento {
  width: 60%;
  background-color: #ffffff;
  height: auto;
}

#home #crecimiento #titulo_crecimiento {
  background-color: #46b271;
  padding: 15px 0px 17px 15px;
  box-sizing: border-box;
}

#home #crecimiento #titulo_crecimiento h3 {
  font-size: 1.2em;
  color: #f2f2f2;
  font-family: 'oswaldbold';
  text-transform: uppercase;
}

#home #crecimiento .contenido {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 30px;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
  text-align: justify;
}

/*===============================================*/
#home #crecimiento .contenido .last {
  margin-top: 20px;
  padding-top: 12px;
  border-top: 1px solid #009FFF;
}

#home #crecimiento .contenido .last .list {
  padding: 5px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  overflow: hidden;
  border-bottom: 1px solid #009FFF;
  text-transform: lowercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#home #crecimiento .contenido .last .thumb {
  width: 20%;
  padding-bottom: 12px;
  margin-right: 5px;
}

#home #crecimiento .contenido .last .thumb img {
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
  width: 90%;
}

#home #crecimiento .contenido .last .thumb img:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
}

#home #crecimiento .contenido .last .title {
  color: #009FFF;
  line-height: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
  width: 78%;
  text-transform: lowercase;
}

#home #crecimiento .contenido .last .title:hover {
  color: #d53132;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#home #crecimiento .contenido .last .title:first-letter {
  text-transform: uppercase;
}

#home #crecimiento .contenido img {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 3px solid #ffffff;
}

/*===============================================*/
#home #crecimiento .contenido .alignleft {
  float: left;
  margin: 20px 20px 20px 0px;
}

#home #crecimiento .contenido .alignright {
  float: right;
  margin: 20px 0px 20px 20px;
}

#home #crecimiento .contenido p img.aligncenter {
  text-align: center;
  margin: 10px auto;
  clear: both;
  display: block;
}

#home #crecimiento .contenido a {
  color: #009FFF;
}

#home #crecimiento .contenido a:hover {
  color: #d53132;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

/*=================== Entradas=====================*/
#home #entradas {
  width: 40%;
  background-color: #f2f2f2;
  height: auto;
  font-family: 'quattrocento_sansregular';
}

#home #entradas #titulo_entradas {
  background-color: #d53132;
  padding: 15px 0px 17px 15px;
  box-sizing: border-box;
}

#home #entradas #titulo_entradas h3 {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'oswaldbold';
  text-transform: uppercase;
}

#home #entradas .contenido {
  /*	background-color: $blanco;*/
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.4em;
  font-size: 1.1em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
}

#home #entradas .contenido a {
  color: #009FFF;
  font-size: 0.7em;
}

#home #entradas .contenido a:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  color: #d53132;
}

#home #entradas .contenido .thumb {
  float: right;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 141px;
  height: 141px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 3px solid #ffffff;
  display: block;
  margin: 0px 0px 0px 7px;
  padding: 0px 0px 0px 0px;
}

#home #entradas .contenido .thumb:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#home #entradas .contenido .thumb img {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 100%;
  height: 100%;
}

#home #entradas .contenido .thumb img:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
}

#home #entradas #recientes {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#home #entradas #recientes .list {
  padding: 5px;
  margin-bottom: 5px;
  padding-bottom: 9px;
  overflow: hidden;
  border-bottom: 1px solid #009FFF;
  text-transform: lowercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#home #entradas #recientes .list p {
  line-height: 1.5em;
  font-size: 1.2em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
  text-align: justify;
  margin-top: 8px;
}

#home #entradas #recientes .thumb {
  width: 20%;
}

#home #entradas #recientes .thumb img {
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
  width: 90%;
}

#home #entradas #recientes .thumb img:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
}

#home #entradas #recientes .title {
  color: #009FFF;
  line-height: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
  width: 78%;
  text-transform: lowercase;
}

#home #entradas #recientes .title:hover {
  color: #d53132;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#home #entradas #recientes .title:first-letter {
  text-transform: uppercase;
}

footer {
  width: 100%;
  background-color: #d53132;
}

#pie {
  background-color: #d53132;
  min-height: 150px;
}

#pie .group {
  padding: 50px;
  text-align: center;
  color: #ffffff;
  line-height: 1.5em;
  font-family: 'Economica-Bold';
  text-shadow: 1px 2px 1px #000;
  font-size: 1.2em;
}

#pie .group a {
  color: #009FFF;
}

#pie .group a:hover {
  color: #f2f2f2;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#totop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  margin-left: 640px;
  overflow: hidden;
  width: 43px;
  height: 28px;
  border: none;
  text-indent: -999px;
  z-index: 20;
  background: url("../images/totop.png") no-repeat left 0;
  transition: 0s ease;
  -o-transition: 0s ease;
  -webkit-transition: 0s ease;
}

#totop:hover {
  outline: none;
  background-position: right 0;
}

#descripcion {
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
  list-style: none;
}

#descripcion p {
  margin-bottom: 7px;
}

#descripcion img {
  display: block;
  margin: 15px auto;
  border: 4px solid #f2f2f2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  clear: both;
}

#descripcion p:first-child {
  color: #d53132;
  font-weight: bold;
}

#listado_cat {
  padding: 10px 10px 30px 10px;
  margin-bottom: 50px;
  list-style: none;
  border-bottom: 1px solid #46b271;
}

#listado_cat .categories .tit_cat {
  font-weight: bold;
  margin-right: 10px;
}

#responsables {
  padding: 10px;
}

#responsables p {
  font-size: 1.1em;
  font-style: italic;
}

#responsables p span {
  color: #009FFF;
}

/*
#listado_cat .categories .tit_cat:after{
	content: ' >>';
}
*/
#listado_cat .categories {
  display: flex;
  flex-flow: column wrap;
}

#listado_cat .categories .cat-item {
  list-style: none;
}

#listado_cat .categories .cat-item a {
  color: #009FFF;
}

#listado_cat .categories .cat-item a:hover {
  color: #46b271;
}

#contenido_general {
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

#contenido_general #der {
  width: 68%;
  min-height: 50px;
  background-color: #ffffff;
  line-height: 1.5em;
  font-size: 1.1em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
  box-sizing: border-box;
}

#contenido_general #der .descripcion_categoria {
  border-bottom: 1px solid #46b271;
  padding-bottom: 7px;
  margin-bottom: 20px;
  color: #009FFF;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contenido_general #der .descripcion_categoria #name_cat {
  width: 58%;
  display: flex;
  color: #46b271;
}

#contenido_general #der .descripcion_categoria #name_cat .cat {
  margin-right: 4px;
  display: block;
}

#contenido_general #der .descripcion_categoria #name_cat ul {
  list-style: none;
  text-decoration: none;
}

#contenido_general #der .descripcion_categoria #fecha {
  width: 38%;
  text-align: right;
}

#contenido_general #der address {
  border-top: 1px solid #46b271;
  padding-top: 7px;
  margin-top: 20px;
  text-align: right;
  color: #009FFF;
  width: 100%;
  clear: both;
}

#contenido_general #der #titulo {
  background-color: #46b271;
  padding: 24px 0px 17px 25px;
  box-sizing: border-box;
  color: #ffffff;
  margin-bottom: 10px;
}

#contenido_general #der #titulo a {
  color: #d53132;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
}

#contenido_general #der #titulo a:hover {
  color: #333333;
  font-weight: bold;
}

#contenido_general #der #titulo h3 {
  font-size: 1.1em;
  color: #ffffff;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  text-align: center;
}

#contenido_general #der h2 {
  font-weight: bold;
  font-size: 1.8em;
  margin: 15px 0px 10px 0px;
  padding: 8px 0px 0px 10px;
  color: #009FFF;
  line-height: 1.1em;
}

#contenido_general #der h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin: 15px 0px 10px 0px;
  padding: 8px 0px 0px 10px;
  color: #46b271;
  line-height: 1.1em;
}

#der .entrada-noticias {
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#der .entrada-noticias .fecha {
  width: 100%;
  padding: 10px;
  color: #46b271;
  font-weight: bold;
}

#der .entrada-noticias .contenido {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}

#der .entrada-noticias .contenido .thumb {
  width: 28%;
}

#der .entrada-noticias .contenido .thumb img {
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
  width: 90%;
}

#der .entrada-noticias .contenido img:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
}

#der .entrada-noticias .contenido .con {
  color: #009FFF;
  line-height: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
  width: 78%;
  border-bottom: 1px solid #009FFF;
  padding-bottom: 5px;
}

#der .entrada-noticias .contenido .con a {
  color: #009FFF;
  line-height: 1.4em;
  font-size: 1.2em;
  text-transform: lowercase;
  display: block;
}

#der .entrada-noticias .contenido .con a:hover {
  color: #46b271;
}

#der .entrada-noticias .contenido .con a:first-letter {
  text-transform: uppercase;
}

#info {
  line-height: 1.2em;
  font-size: 1em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
  text-align: justify;
}

#contenido_general #iz {
  width: 28%;
  min-height: 50px;
  background-color: #f2f2f2;
  padding: 10px;
}

#iz #entradas #recientes {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#iz #entradas #recientes .list {
  padding: 5px;
  margin-bottom: 5px;
  padding-bottom: 9px;
  overflow: hidden;
  border-bottom: 1px solid #009FFF;
  text-transform: lowercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#iz #entradas #recientes .list a:first-letter {
  text-transform: uppercase;
}

#iz #entradas #titulo_entradas {
  background-color: #009FFF;
  padding: 24px 0px 17px 25px;
  box-sizing: border-box;
}

#iz #entradas #titulo_entradas h3 {
  font-size: 1.1em;
  color: #ffffff;
  font-family: 'oswaldbold';
  text-transform: uppercase;
  text-align: center;
}

#iz #entradas #recientes .thumb {
  width: 20%;
}

#iz #entradas #recientes .thumb img {
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
  width: 90%;
}

#iz #entradas #recientes .thumb img:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
}

#iz #entradas #recientes .title {
  color: #009FFF;
  line-height: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
  width: 78%;
}

#iz #entradas #recientes .title:hover {
  color: #d53132;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#iz #entradas #recientes .bla .title:first-letter {
  text-transform: uppercase;
}

#contenido_general #der #interiores {
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: justify;
}

#contenido_general #der #interiores .alignleft {
  float: left;
  margin: 20px 20px 20px 0px;
}

#contenido_general #der #interiores .alignright {
  float: right;
  margin: 20px 0px 20px 20px;
}

#contenido_general #der #interiores p img.aligncenter {
  text-align: center;
  margin: 0px auto;
  clear: both;
  display: block;
  width: 100%;
}

#contenido_general #der #interiores a {
  color: #009FFF;
}

#contenido_general #der #interiores a:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  color: #d53132;
}

#contenido_general #der #interiores form {
  padding: 7px;
  background: #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  width: 70%;
  color: #009FFF;
}

#contenido_general #der #interiores form img {
  width: 50px;
  height: auto;
}

#contenido_general #der #interiores form button {
  padding: 6px;
  border: none;
  margin: 0px 10px 0px 10px;
  color: #d53132;
  background: #f2f2f2;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#contenido_general #der #interiores form input,
#contenido_general #der #interiores form textarea {
  color: #46b271;
  padding: 6px;
  border: 1px solid #46b271;
  background: #f2f2f2;
  width: 90%;
  font-size: 1.3em;
}

#contenido_general #der #interiores form input:hover {
  background: #ffffff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d53132;
}

#contenido_general #der #interiores form input:focus {
  background: #ffffff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d53132;
}

#contenido_general #der #interiores input[type=submit] {
  padding: 6px;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #009FFF;
  color: #ffffff;
}

#contenido_general #der #interiores input[type=submit]:hover {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  background: #008831;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

#contenido_general #der #interiores input[type=submit]:focus {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  background: #009FFF;
  color: #ffffff;
  cursor: pointer;
}

.resume {
  padding: 4px 0px 10px 0px;
  border-bottom: 1px solid #46b271;
}

.resume .post-title {
  line-height: 2.0em;
  font-size: 0.9em;
  text-align: left;
}

.resume .post-title .meta {
  color: #46b271;
}

.cont-all {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.cont-all .linkit {
  float: left;
  padding: 15px;
  margin: 10px;
}

.cont-all .linkit a img {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.cont-all .linkit a img:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1.0;
  opacity: 0.5;
  -khml-opacity: 1.0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
}

.cont-all .the-content {
  width: 90%;
  margin: 10px;
  padding: 10px;
}

.cont-all .continuar-read {
  width: 100%;
  margin-left: 10px;
}

.navigation {
  background-color: #46b271;
  padding: 7px;
}

.navigation .pagenavi {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

/*
.navigation .pagenavi a{
	color: $blanco;
}
*/
/*
.navigation .pagenavi .next{
	color: $blanco;
	text-decoration: none;
}

.navigation .pagenavi .next:hover{
	color: $verde2;
}

*/
.navigation .pagenavi a:nth-child(2) {
  color: #ffffff;
  padding: 3px;
  margin-right: 7px;
}

.navigation .pagenavi a:last-child {
  color: #ffffff;
  padding: 3px;
  margin-left: 7px;
}

.navigation .pagenavi .pages {
  padding: 4px;
  margin-left: 4px;
  margin-right: 10px;
  color: #ffffff;
}

.navigation .pagenavi .pages a {
  padding: 4px;
  margin: 4px;
}

.navigation .pagenavi .pages:last {
  content: '>>';
}

.navigation .pagenavi .first {
  padding: 4px;
  background-color: #ffffff;
  color: #333333;
  margin: 4px;
}

.navigation .pagenavi .current {
  padding: 4px;
  background-color: #009FFF;
  color: #ffffff;
  margin: 4px;
}

.navigation .pagenavi .single_page {
  padding: 4px;
  background-color: #ffffff;
  margin: 4px;
}

.navigation .pagenavi .last {
  padding: 4px;
  background-color: #ffffff;
  margin: 4px;
}

@media screen and (max-width: 800px) {
  #header #ls {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #header #sm {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
  #header #sm #ubicacion {
    width: 45%;
  }
  #header #sm #search {
    width: 45%;
    padding: 3px;
  }
  #header #sm #search .searchbar form {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #header #sm #search .searchbar form button {
    margin: 0px;
  }
  nav #cuadro_menu .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  nav #cuadro_menu .menu li a {
    padding: 16px 10px 16px 10px;
  }
  /*
#iglesia{
	background-color:#ffffff;
	min-height: 50px;
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	justify-content: center;
}
*/
  #iglesia #div1 {
    width: 40%;
    padding: 10px 10px 10px 10px;
  }
  #reflexiones .diario {
    width: 100%;
  }
  #home #crecimiento {
    width: 100%;
    order: 2;
  }
  #home #entradas {
    width: 100%;
    order: 1;
  }
  #contenido_general #der {
    width: 95%;
    margin: 0px auto;
  }
  #contenido_general #iz {
    width: 95%;
    margin: 0px auto;
  }
}
