@font-face {
    font-family: 'droid_sansbold';
    src: url('font/DroidSans-Bold-webfont.eot');
    src: url('font/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/DroidSans-Bold-webfont.woff') format('woff'),
         url('font/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('font/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('font/DroidSans-webfont.eot');
    src: url('font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/DroidSans-webfont.woff') format('woff'),
         url('font/DroidSans-webfont.ttf') format('truetype'),
         url('font/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldbold';
    src: url('font/oswald-bold-webfont.eot');
    src: url('font/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/oswald-bold-webfont.woff2') format('woff2'),
         url('font/oswald-bold-webfont.woff') format('woff'),
         url('font/oswald-bold-webfont.ttf') format('truetype'),
         url('font/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('font/oswald-light-webfont.eot');
    src: url('font/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/oswald-light-webfont.woff2') format('woff2'),
         url('font/oswald-light-webfont.woff') format('woff'),
         url('font/oswald-light-webfont.ttf') format('truetype'),
         url('font/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'oswaldbook';
    src: url('font/oswald-regular-webfont.eot');
    src: url('font/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/oswald-regular-webfont.woff2') format('woff2'),
         url('font/oswald-regular-webfont.woff') format('woff'),
         url('font/oswald-regular-webfont.ttf') format('truetype'),
         url('font/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_stencilregular';
    src: url('font/oswald-stencil-webfont.eot');
    src: url('font/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/oswald-stencil-webfont.woff2') format('woff2'),
         url('font/oswald-stencil-webfont.woff') format('woff'),
         url('font/oswald-stencil-webfont.ttf') format('truetype'),
         url('font/oswald-stencil-webfont.svg#oswald_stencilregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'quattrocento_sansbold';
    src: url('font/quattrocentosans-bold-webfont.eot');
    src: url('font/quattrocentosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quattrocentosans-bold-webfont.woff2') format('woff2'),
         url('font/quattrocentosans-bold-webfont.woff') format('woff'),
         url('font/quattrocentosans-bold-webfont.ttf') format('truetype'),
         url('font/quattrocentosans-bold-webfont.svg#quattrocento_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quattrocento_sansbold_italic';
    src: url('font/quattrocentosans-bolditalic-webfont.eot');
    src: url('font/quattrocentosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quattrocentosans-bolditalic-webfont.woff2') format('woff2'),
         url('font/quattrocentosans-bolditalic-webfont.woff') format('woff'),
         url('font/quattrocentosans-bolditalic-webfont.ttf') format('truetype'),
         url('font/quattrocentosans-bolditalic-webfont.svg#quattrocento_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quattrocento_sansitalic';
    src: url('font/quattrocentosans-italic-webfont.eot');
    src: url('font/quattrocentosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quattrocentosans-italic-webfont.woff2') format('woff2'),
         url('font/quattrocentosans-italic-webfont.woff') format('woff'),
         url('font/quattrocentosans-italic-webfont.ttf') format('truetype'),
         url('font/quattrocentosans-italic-webfont.svg#quattrocento_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('font/quattrocentosans-regular-webfont.eot');
    src: url('font/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quattrocentosans-regular-webfont.woff2') format('woff2'),
         url('font/quattrocentosans-regular-webfont.woff') format('woff'),
         url('font/quattrocentosans-regular-webfont.ttf') format('truetype'),
         url('font/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'Economica-Bold';
  src: url('font/Economica-Bold.eot');
  src: url('font/Economica-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/Economica-Bold.woff') format('woff'),
       url('font/Economica-Bold.ttf') format('truetype'),
       url('font/Economica-Bold.svg#Economica-Bold') format('svg');
}

.fontpro,.fontpro-35724 {
  font-family: 'Economica-Bold',sans-serif;
}