
.searchbar form{
  padding:7px;
  background: $grisclaro;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $grismasclaro;
  width: 70%;
  display: flex;
  justify-content: space-between;
}


.searchbar form button{
  padding: 6px;
  border: none;
  margin:0px 10px 0px 10px;
  color: $rosa;
  background: $grisclaro;
  @include transicion_a();
}

.searchbar form button:hover{
  color: $grisoscuro;
  @include transicion_a();
}
.searchbar form button:focus{
  color: $grisoscuro;
  @include transicion_a();
}

.searchbar form input{
  color: $rosa;
  padding: 6px;
  @include radio(5);
  border: none;
  background: $grisclaro; 
  @include transicion_a();  
}

.searchbar form input:hover{
  background: $blanco;
  @include transicion_a();
  @include radio(5);  
  border: 1px solid $rosa;
}

.searchbar form input:focus{
  background: $blanco;
  @include transicion_a();  
  @include radio(5);
  border: 1px solid $rosa;
}


input[type=submit]{
  padding: 6px;
  @include transicion_a();
}

input[type=submit]:hover{
  @include transicion_a();  
}

input[type=submit]:focus{
  @include transicion_a();  
}