

*{
	margin:0px;
	padding: 0px;
}


body{
	background-color: #fff;
}


.zerogrid{
	max-width:1024px;
	margin:0px auto;
}

.space{
	width:100%;
}

#contenedor{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	box-sizing: border-box;
}

header{
	width: 100%;
	background-color:#ffffff;
}

#header{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 10px 0px 8px 0px;
}

#header #ls{	
	width: 50%;
	display:flex;
}


#header #ls #logo{

}

#header #ls #logo img{
	width: 112px;
	height:117px;
}

#header #ls #logo img:hover{
	@include opacidad(80);
	@include transicion_a();
	background-color: $blanco;
}

#header #ls #slogan{
	margin-left:10px;
	font-family: 'oswaldbold';
	text-transform:uppercase;
	padding:13px 0px 0px 0px;
	@include transicion_a();
	list-style:none;
	text-decoration:none;
	display: block;
}

#header #ls #slogan h1{
	color:$grisoscuro;
	font-size: 2.8em;
}


#header #ls #slogan h1:hover{
	color:$celeste;
	@include transicion_a();	
}

#header #ls #slogan h2{
	color:$rosa;
	font-size: 0.8em;
}

#header #ls #slogan h2:hover{
	color:$celeste;
	@include transicion_a();	
}

#header #sm{
	width:50%;
/*	background-color:#ffd933;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header #sm #ubicacion{
	width: 30%;
}

#header #sm #ubicacion span{
	width: 95%;
	display: block;
}

#header #sm #ubicacion .icon-location2{
	margin:0px auto;
	text-align: center;
	padding-bottom: 7px;
	color: $rosa;
}

#header #sm #ubicacion #texto{
	font-family: 'oswaldbold';
	text-transform:uppercase;
	color:#333333;
	margin:0px auto;
	text-align: center;	
}

#header #sm #search{
	width: 65%;
}

nav{
	width: 100%;
	background-color: $rosa;	
}

#cuadro_menu{
	background-color: #f1f1f1;
}

section{
	width:100%;
	background-image: url(../images/cross-pattern.png);
	background-repeat: repeat;
}


article{

}

/*================================================*/

#cuadro_banner{

}

#banner{
	background-color:$blanco;
	padding:10px 0px 10px 0px;
}

#banner a{	

}

#banner a:hover{
	@include transicion_a();
}

#banner .soliloquy-prev:hover,
#banner .soliloquy-next:hover{
	background-color: $grisoscuro;
	@include transicion_a();	
}

#banner .soliloquy-prev{
	background-color: $rosa;
}

#banner .soliloquy-next{
	background-color: $rosa;
}

#banner .soliloquy-pager-item{
	margin: 3px;
	background-color: $rosa;
}

#cuadro_iglesia{
	padding-top:10px;
	padding-bottom: 12px;
}

#iglesia{
	background-color:#ffffff;
	min-height: 50px;
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	justify-content: center;
}

#iglesia #div1{
	width: 22%;
	min-height: 150px;
	padding: 10px 10px 10px 10px;
	text-align:center;
	background-color: $blanco;
}

#iglesia #div1 a{
	color: $grisoscuro;
	font-family: 'oswaldbold';
	text-transform: uppercase;
	text-decoration:none;
	padding: 0px 0px 8px 0px;
	display: block;
}

#iglesia #div1 a span{
	margin-top: 4px;
	display: block;
}

#iglesia #div1 a:hover{
	color: $celeste;
	@include transicion_a();
}


#iglesia #div1 a img{
	width: 100%;
}

#iglesia #div1 img:hover{
	@include transicion_a();
	@include opacidad(50);
}
	
#cuadro_iglesia #titulo_iglesia{
	background-color:$verde2;
	padding: 20px 0px 17px 25px;
	box-sizing:border-box;
}


#cuadro_iglesia #titulo_iglesia h3{
	font-size: 1.1em;
	color:$grisoscuro;
	font-family: 'oswaldbold';
	text-transform:uppercase;
	text-align: center;
}


/*=======================================================*/
#cuadro_reflexiones{
	padding-top:10px;
	padding-bottom: 12px;	
}

#titulo_reflexiones{
	@include titulos($verde2,$grisclaro);
	padding: 10px 0px 10px 10px;
	font-size: 0.8em;
	margin-bottom: 7px;

	#name_cat{
		display: flex;	}	

	#date_cat{
		margin-right: 7px;
		font-size: 1.2em;
	}

}

#titulo_reflexiones h3 span{ @include tit_span(); }

#titulo_reflexiones h3{
	margin-right:7px;
	@include tit_h3($grisclaro);
}

#titulo_reflexiones h3 ul{ 	list-style: none; }	

#titulo_reflexiones a{ color:$grisoscuro; }

#titulo_reflexiones a:hover{ 
	color:$blanco;
	@include transicion_a();
}

/*=====================================*/
#titulo_homilia{
	@include titulos($celeste,$grisclaro);
	padding: 10px 0px 10px 10px;
	font-size: 0.8em;
	margin-bottom: 7px;

	#name_cat{
		display: flex;	}	

	#date_cat{
		margin-right: 7px;
		font-size: 1.2em;
	}	
}

#titulo_homilia h3 span{ @include tit_span(); }

#titulo_homilia h3{
	margin-right:7px;
	@include tit_h3($grisclaro);
}

#titulo_homilia h3 ul{ 	list-style: none; }	

#titulo_homilia a{ color:$grisclaro; }

#titulo_homilia a:hover{ 
	color:$grisoscuro;
	@include transicion_a();
}
/*=====================================*/

#titulo_cuadro_reflexiones{
	@include titulo_cuadro($celeste);
}

#titulo_cuadro_reflexiones h3{
	font-size: 1.1em;
	@include tit_h3($blanco);
}

#titulo_cuadro_crecimiento{
	@include titulo_cuadro($rosa);
}

#titulo_cuadro_crecimiento h3{
	font-size: 1.1em;
	@include tit_h3($blanco);
}



/*==============================================*/

#reflexiones{
	background-color:$grisclaro;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
	margin: 0px auto;
}

#reflexiones .diario{
	width: 47%;
	background-color: $blanco;
	min-height: 100px;
	padding: 10px;
	boder-bottom: 1px solid $grisoscuro;
	margin-bottom: 4px;
}

#reflexiones .diario .contenido h2 a,
#reflexiones .diario .contenido_homilia h2 a{
	color: $celeste;
	line-height: 1.5em;
	font-size: 1em;	
}

#reflexiones .diario .contenido h2 a:hover,
#reflexiones .diario .contenido_homilia h2 a:hover
{
	color: $rosa;
	@include transicion_a();
}

#reflexiones .diario .contenido p,
#reflexiones .diario .contenido_homilia p{
  line-height: 1.5em;
  font-size: 1.2em;
  color: #404040;
  font-family: 'quattrocento_sansregular';
}

#reflexiones .diario .contenido .thumb,
#reflexiones .diario .contenido_homilia .thumb{
	float:right;
	@include circulo();
	width: 141px;
	height: 141px;
	@include sombra();
	display:block;
	margin:0px 0px 0px 7px;
	padding: 0px 0px 0px 0px;
	@include borde(2px,$grisclaro);
}

#reflexiones .diario .contenido .thumb:hover,
#reflexiones .diario .contenido_homilia  .thumb:hover{
	@include transicion_a();
}

#reflexiones .diario .contenido .thumb img,
#reflexiones .diario .contenido_homilia .thumb img{
	@include circulo();
	width: 100%;
	height: 100%;
}

#reflexiones .diario .contenido .thumb img:hover,
#reflexiones .diario .contenido_homilia  img:hover,{
	@include transicion_a();
	@include opacidad(50);
}

/*====================*/


#home{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	box-sizing: border-box;
	padding-bottom:10px;
	margin-bottom:10px;
}

#home #crecimiento{
	width: 60%;
	background-color:$blanco;
	height: auto;
}


#home #crecimiento #titulo_crecimiento{
	background-color:$verde2;
	padding: 15px 0px 17px 15px;
	box-sizing:border-box;
}


#home #crecimiento #titulo_crecimiento h3{
	font-size: 1.2em;
	color:$grisclaro;
	font-family: 'oswaldbold';
	text-transform:uppercase;
}

#home #crecimiento .contenido{
	background-color: $blanco;
	box-sizing: border-box;
	padding:30px;
	line-height: 1.5em;
	font-size: 1.2em;
	color: #404040;
	font-family: 'quattrocento_sansregular';
	text-align:justify;
}

/*===============================================*/

#home #crecimiento .contenido .last{
	margin-top: 20px;
	padding-top: 12px;
	border-top: 1px solid $celeste;
}

#home #crecimiento .contenido .last .list{
	padding:5px;
	margin-bottom: 20px;
	padding-bottom: 12px;
	overflow:hidden;
	border-bottom: 1px solid $celeste;
	text-transform: lowercase;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}



#home #crecimiento .contenido .last .thumb{
	width: 20%;
	padding-bottom: 12px;
	margin-right: 5px;
	
}

#home #crecimiento .contenido .last .thumb img{
	height:auto;
	display:inline-block;
	float:left;
	margin-right:7px;
	@include sombra();
	@include borde(2px,$blanco);
	width: 90%;

}

#home #crecimiento .contenido .last .thumb img:hover{
	@include opacidad(50);
	@include transicion_a();
	@include sombra_hover();
}

#home #crecimiento .contenido .last .title{
	color: $celeste;
	line-height: 1.3em;
	font-size: 1.1em;
	text-decoration:none;
	width: 78%;
	text-transform:lowercase;
}

#home #crecimiento .contenido .last .title:hover{
	color:$rosa;
	@include transicion_a();
}

#home #crecimiento .contenido .last .title:first-letter{
	text-transform: uppercase;
}

#home #crecimiento .contenido img{ 
	@include sombra();
	@include borde(3px,$blanco);
}


/*===============================================*/

#home #crecimiento .contenido .alignleft{ @include left(); }

#home #crecimiento .contenido .alignright{ 	@include right(); }

#home #crecimiento .contenido p img.aligncenter{ 
	@include center(); 
}


#home #crecimiento .contenido a{
	color: $celeste;
}

#home #crecimiento .contenido a:hover{
	color: $rosa;
	@include transicion_a();
}

/*=================== Entradas=====================*/

#home #entradas{
	width: 40%;
	background-color: $grisclaro;
	height: auto;
	font-family: 'quattrocento_sansregular';	
} 

#home #entradas #titulo_entradas{
	background-color:$rosa;
	padding: 15px 0px 17px 15px;
	box-sizing:border-box;
}


#home #entradas #titulo_entradas h3{
	font-size: 1.2em;
	color:$blanco;
	font-family: 'oswaldbold';
	text-transform:uppercase;
}

#home #entradas #homilia{

}

#home #entradas #mision{

}


#home #entradas .contenido{
/*	background-color: $blanco;*/
	box-sizing: border-box;
	padding:10px;
	line-height: 1.4em;
	font-size: 1.1em;
	color: #404040;
	font-family: 'quattrocento_sansregular';	
}

#home #entradas .contenido a{
	color: $celeste;
	font-size: 0.7em;
}


#home #entradas .contenido a:hover{
	@include transicion_a();
	color: $rosa;
}

#home #entradas .contenido .thumb{
	float:right;
	@include circulo();
	width: 141px;
	height: 141px;
	@include sombra();
	@include borde(3px,$blanco);
	display:block;
	margin:0px 0px 0px 7px;
	padding: 0px 0px 0px 0px;
}

#home #entradas .contenido .thumb:hover{
	@include transicion_a();
}

#home #entradas .contenido .thumb img{
	@include circulo();
	width: 100%;
	height: 100%;
}

#home #entradas .contenido .thumb img:hover{
	@include transicion_a();
	@include opacidad(50);
}


#home #entradas #recientes{
	margin-bottom: 20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

#home #entradas #recientes .list{
	padding:5px;
	margin-bottom: 5px;
	padding-bottom: 9px;
	overflow:hidden;
	border-bottom: 1px solid $celeste;
	text-transform: lowercase;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

#home #entradas #recientes .list p{
	line-height: 1.5em;
    font-size: 1.2em;
    color: #404040;
    font-family: 'quattrocento_sansregular';
    text-align: justify;
    margin-top: 8px;
}



#home #entradas #recientes .thumb{
	width: 20%;
	
}

#home #entradas #recientes .thumb img{
	height:auto;
	display:inline-block;
	float:left;
	margin-right:7px;
	@include sombra();
	@include borde(2px,$blanco);
	width: 90%;

}

#home #entradas #recientes .thumb img:hover{
	@include opacidad(50);
	@include transicion_a();
	@include sombra_hover();
}

#home #entradas #recientes .title{
	color: $celeste;
	line-height: 1.3em;
	font-size: 1.1em;
	text-decoration:none;
	width: 78%;
	text-transform:lowercase;
}

#home #entradas #recientes .title:hover{
	color:$rosa;
	@include transicion_a();
}

#home #entradas #recientes .title:first-letter{
	text-transform: uppercase;
}


footer{
	width: 100%;
	background-color:#d53132;
}

#pie{
	background-color: $rosa;
	min-height: 150px;
}

#pie .group{
	padding: 50px;
	text-align: center;
	color: $blanco;
	line-height: 1.5em;
    font-family: 'Economica-Bold';
	text-shadow: 1px 2px 1px #000;;
	font-size: 1.2em;
}

#pie .group a{
	color:$celeste;
}
#pie .group a:hover{
	color:$grisclaro;
	@include transicion_a();
}

#totop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    margin-left: 640px;
    overflow: hidden;
    width: 43px;
    height: 28px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url('../images/totop.png') no-repeat left 0; 
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#totop:hover {
    outline: none;
    background-position: right 0;
}

