#contenido_general #der #interiores{
	padding:20px;
	box-sizing: border-box;
	overflow:hidden;
	text-align: justify;
}

#contenido_general #der #interiores .alignleft{
	float: left;
	margin: 20px 20px 20px 0px;
}

#contenido_general #der #interiores .alignright{
	float: right;
	margin: 20px 0px 20px 20px;
}

#contenido_general #der #interiores p img.aligncenter{
	text-align: center;
	margin:0px auto;
	clear: both;
	display: block;
	width: 100%;
}


#contenido_general #der #interiores a{
	color:$celeste;	
}

#contenido_general #der #interiores a:hover{
	@include transicion_a();
	color: $rosa;
}



#contenido_general #der #interiores form{
  padding:7px;
  background: $grisclaro;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $grismasclaro;
  width: 70%;
  color: $celeste;
}


#contenido_general #der #interiores form img{
	width: 50px;
	height: auto;
}

#contenido_general #der #interiores form button{
  padding: 6px;
  border: none;
  margin:0px 10px 0px 10px;
  color: $rosa;
  background: $grisclaro;
  @include transicion_a;  
}

#contenido_general #der #interiores form input,
#contenido_general #der #interiores form textarea{
  color: $verde2;
  padding: 6px;
  border: 1px solid $verde2;
  background: $grisclaro;
  width: 90%;
  font-size: 1.3em;
}

#contenido_general #der #interiores form input:hover{
  background: $blanco;
  @include transicion_a();
  @include radio(5);  
  border: 1px solid $rosa;
}

#contenido_general #der #interiores form input:focus{
  background: $blanco;
  @include transicion_a();  
  @include radio(5);
  border: 1px solid $rosa;
}


#contenido_general #der #interiores input[type=submit]{
  padding: 6px;
  @include transicion_a();
  @include radio(5);  
  background: $celeste;
  color: $blanco;
}

#contenido_general #der #interiores input[type=submit]:hover{
  @include transicion_a();  
  background: $verde;
  color: $blanco;
  border: 1px solid $blanco;
  cursor:pointer;
}

#contenido_general #der #interiores input[type=submit]:focus{
  @include transicion_a();  
  background: $celeste;
  color: $blanco;  
  cursor:pointer;  
}