
.resume{
	padding: 4px 0px 10px 0px;
	border-bottom:1px solid $verde2;
}


.resume .post-title{
	line-height: 2.0em;
	font-size: 0.9em;
	text-align: left;

	.meta{
		color: $verde2;
	}

}

.cont-all{
	width: 100%;
	box-sizing: border-box;
	display: inline-block;

	.linkit{
		float: left;
		padding: 15px;
		margin: 10px;

		a img{
			@include sombra();

		}

		a img:hover{
			@include opacidad(50);
			@include transicion_a();
			@include sombra_hover();
		}
	}

	.the-content{
		width: 90%;
		margin: 10px;
		padding: 10px;
	}

	.continuar-read{
		width: 100%;
		margin-left: 10px;
	}
}


.navigation{
	background-color: $verde2;
	padding: 7px;
}

.navigation .pagenavi{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

/*
.navigation .pagenavi a{
	color: $blanco;
}
*/
/*
.navigation .pagenavi .next{
	color: $blanco;
	text-decoration: none;
}

.navigation .pagenavi .next:hover{
	color: $verde2;
}

*/

.navigation .pagenavi a:nth-child(2) {
	color: $blanco;
	padding: 3px;
	margin-right: 7px;	
}


.navigation .pagenavi a:last-child{
	color: $blanco;
	padding: 3px;
	margin-left: 7px;	
}

.navigation .pagenavi .pages{
	padding: 4px;
	margin-left: 4px;
	margin-right: 10px;
	color: $blanco;
}

.navigation .pagenavi .pages a{
	padding: 4px;
	margin: 4px;
}

.navigation .pagenavi .pages:last{
	content: '>>';
}

.navigation .pagenavi .first{
	padding: 4px;
	background-color: $blanco;
	color: $grisoscuro;
	margin: 4px;
}


.navigation .pagenavi .current{
	padding: 4px;
	background-color: $celeste;
	color: $blanco;
	margin: 4px;
}

.navigation .pagenavi .single_page{
	padding: 4px;
	background-color: $blanco;	
	margin: 4px;	
}

.navigation .pagenavi .last{
	padding: 4px;
	background-color: $blanco;	
	margin: 4px;	
}


